/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2019, 3:41:23 PM
    Author     : santialfonso
*/

.santi{
    font-size: 20px;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    text-shadow: 0 -1px 0 #1584de;
    font-weight: bold;
}
.ui-button .ui-button-text{
    font-size: 15px;
}
